<sidebar class="elements" aria-labelledby="elementsheadline" aria-hidden="true"></sidebar>

<main aria-labelledby="diagramheadline">
    <div class="diagram-header">
        <h2 class="main-headline" id="diagramheadline">Produktionskette</h2>
        <div id="counter" class="diagram-header-right">
            <span  class="devices-counter">{{deviceCounter}}</span> Elemente -
            <span  class="arrows-counter">{{arrowCounter}}</span> Pfeile -
            <span class="product-counter">0</span> Produkte
        </div>
    </div>

    <app-diagram [arrowAdd]="arrowAddRef"></app-diagram>

</main>
