
    <h2 id="arrowsheadline">Verfügbare Verbindungen</h2>
    <ul class="arrow-list">
        <li class="arrow" id="arrow-sidebar-add" aria-labelledby="connector" tabindex="0" title="Verbindung">
            <dl class="arrow-properties">
                <dt class="accessibility">Elementtyp</dt>
                <dd id="connector" class="arrow-type">Verbindung</dd>
            </dl>
            <div class="arrow-image">
                <svg width="72px" height="20px">
                    <defs>
                        <marker id="arrow-marker-side" markerWidth="10" markerHeight="10" refY="4" orient="auto">
                            <path d="M0,0 L0,8 L8,4 z" class="arrow-marker"></path>
                        </marker>
                    </defs>
                    <path d="M0,10 L70,10" class="arrow-path" marker-end="url(#arrow-marker-side)"></path>
                </svg>
            </div>
        </li>
    </ul>
    <h2 id="elementsheadline">Verfügbare Elemente</h2>

    <ul id="devices" class="device-list draggables">

      <!--
      <li *ngFor="let hero of heroes">
      {{ hero }}
      </li>
      -->

      <li app-available-device [data]="availableDevice">{{test}}</li>

<!--
        <li class="device" aria-labelledby="type-generator" tabindex="0" title="3D-Drucker" data-device-type="item-generator">
            <dl class="device-properties">
                <dt class="accessibility">Maschinentyp</dt>
                <dd id="type-generator" class="device-type">3D-Drucker</dd>
            </dl>
            <div class="device-image">
                <img width="100" src="images/item_generator.svg" alt="3D-Drucker">
            </div>
        </li>
        <li class="device" aria-labelledby="type-machine" tabindex="0" title="Maschine" data-device-type="machine" data-device-min="0" data-device-max="100">
            <dl class="device-properties">
                <dt class="accessibility">Maschinentyp</dt>
                <dd id="type-machine" class="device-type">Maschine</dd>
            </dl>
            <div class="device-image">
                <img width="100" src="images/machine.svg" alt="Maschine">
            </div>
        </li>
        <li class="device" aria-labelledby="type-conveyor" tabindex="0" title="Förderband" data-device-type="conveyor">
            <dl class="device-properties">
                <dt class="accessibility">Maschinentyp</dt>
                <dd id="type-conveyor" class="device-type">Förderband</dd>
            </dl>
            <div class="device-image">
                <img width="100" src="images/conveyor.svg" alt="Förderband">
            </div>
        </li>
        <li class="device" aria-labelledby="type-intelligent-conveyor" tabindex="0" title="Intelligentes Förderband" data-device-type="intelligent-conveyor">
            <dl class="device-properties">
                <dt class="accessibility">Maschinentyp</dt>
                <dd id="type-intelligent-conveyor" class="device-type">Intelligentes Förderband</dd>
            </dl>
            <div class="device-image">
                <img width="100" src="images/intelligent_conveyor.svg" alt="Intelligentes Förderband">
            </div>
        </li>
        <li class="device" aria-labelledby="type-interim-storage" tabindex="0" title="Temporäres Lager" data-device-type="interim-storage" data-device-min="0" data-device-max="10">
            <dl class="device-properties">
                <dt class="accessibility">Maschinentyp</dt>
                <dd id="type-interim-storage" class="device-type">Temporäres Lager</dd>
            </dl>
            <div class="device-image">
                <img width="100" src="images/interim_storage.svg" alt="Temporäres Lager">
            </div>
        </li>
        <li class="device" aria-labelledby="type-end-storage" tabindex="0" title="Endlager" data-device-type="end-storage" data-device-min="0" data-device-max="10">
            <dl class="device-properties">
                <dt class="accessibility">Maschinentyp</dt>
                <dd id="type-end-storage" class="device-type">Endlager</dd>
            </dl>
            <div class="device-image">
                <img width="100" src="images/end_storage.svg" alt="Endlager">
            </div>
        </li>
        <li class="device" aria-labelledby="type-trash-storage" tabindex="0" title="Mülllager" data-device-type="trash-storage" data-device-min="0" data-device-max="10">
            <dl class="device-properties">
                <dt class="accessibility">Maschinentyp</dt>
                <dd id="type-trash-storage" class="device-type">Mülllager</dd>
            </dl>
            <div class="device-image">
                <img width="100" src="images/trash_storage.svg" alt="Mülllager">
            </div>
        </li>
      -->


    </ul>
