<div role="navigation" aria-label="jumplinks" class="accessibility">
    <a href="#diagramheadline">Zum Inhalt springen</a>
</div>

<header aria-labelledby="bannerheadline" class="bannerheader">

    <a [routerLink]="isLoginSite() ? '/login' : '/overview'">
        <img class="title-image" src="images/big-logo-small.png" title="BIG Smart Production Logo"
             alt="BIG Smart Production Logo">
    </a>

    <h1 class="header-title" id="bannerheadline">
        BIG Smart Production
    </h1>

    <nav aria-labelledby="navigationheadline">
        <h2 class="accessibility" id="navigationheadline">Navigation</h2>
        <ul class="navigation-list">
            <li class="overflow-icon">
                <a href="#" class="button" accesskey="1">☰</a>
            </li>
            <li class="nav-items">
                <ul>
                    <li *ngIf="isOverviewShown()"><a routerLink="/overview" class="button" accesskey="1">Übersicht</a></li>
                    <li *ngIf="isOptionsShown()"><a routerLink="/options" class="button" accesskey="2">Optionen</a></li>
                    <li *ngIf="isLogoutShown()"><a (click)="logout()" routerLink="/login" class="button" accesskey="3">Abmelden</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
