.button{
background-color: #008CBA;
border-radius: 4px;
border: none;
padding: 8px 10px;
color: white;
text-align: center;
font-size: 16px;
cursor: pointer;
width: 150px;
margin: auto;
}

.bodybackground{
  background: linear-gradient(#f4f6f9, #d3d8e8);
  background-attachment: fixed;
}

.header{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: linear-gradient(#ffd540, #ff9c14);
}

.header > label{
  position: absolute;
  height: 70px;
  line-height: 70px;
  font-size: 24px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  opacity: 0.7;
  vertical-align: middle;
}

.header > img {
    padding: 10px;
}

input[type = text]{
  border: 3px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
  float: right;
  width: 50%;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

du{
    text-decoration:  underline;
    text-decoration-style: dotted;
}
