/* ----------------- STYLES FOR ALL HTML FILES ----------------- */

.bodybackground{
  background: linear-gradient(#f4f6f9, #d3d8e8);
  background-attachment: fixed;
}
.header{
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: linear-gradient(#ffd540, #ff9c14);
  box-shadow: 0 4px 8px 0 grey;
}
.header > label{
  position: absolute;
  height: 70px;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  opacity: 0.8;
  margin-top: 20px;
}
.header > img {
  padding: 10px;
}
.first-header{
  font-size: 25px;
  font-family: sans-serif;
  opacity: 0.8;
  margin-bottom: 30px;
}
.footer{
  font-size: 15px;
  font-family: sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  margin-top: 45px;
  width: 100%;
  text-align: center;
  opacity: 0.5;
}
.du{
  text-decoration: underline;
  text-decoration-style: dotted;
}
.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  margin-top: 120px;
  justify-content: space-between;
}

a {
    text-decoration: none;
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  display: -webkit-flex;
  -webkit-align-items: center;
}

/* ----------------- MEDIA QUERIES ----------------- */

@media (max-width: 325px){
  #login-header-label{
    margin-top: 5px;
    max-width: 250px;
  }
}
@media (max-width: 375px) {
  #options-header-label{
    margin-top: 5px;
    max-width: 250px;
  }
}

/* ----------------- FOR HANDY DISPLAY ----------------- */

@media (max-width: 399px){

  .box{
    margin-bottom: 10px;
  }
  .input{
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    height: 30px;
    width: 100%;
  }
  form > input[type="submit"]{
    background: linear-gradient(#cccccc, #999999);
    border-radius: 4px;
    border: solid 1px #999999;
    color: #494949;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 100%;

  }
  form:valid #exsub{
    background: linear-gradient(#1f82ad, #145187);
    color: white;
  }
}

/* ----------------- FOR BIGGER DISPLAYS ----------------- */

@media (min-width: 400px) {
  .box{
    margin-top: 20px;
  }
  .input{
    float: right;
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    height: 30px;
    min-width: 45%;
  }
  form > input[type="submit"]{
    background: linear-gradient(#cccccc, #999999);
    border-radius: 4px;
    border: solid 1px #999999;
    color: #494949;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 45%;
  }
  form:valid #exsub{
    background: linear-gradient(#1f82ad, #145187);
    color: white;
  }
}

.box > label{
  height: 26px;
  line-height: 26px;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  opacity: 0.8;
}
.button{
  background: linear-gradient(#1f82ad, #145187);
  border-radius: 4px;
  border: solid 1px #145187;
  padding: 8px;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
  margin: auto;
  font-family: sans-serif;
}

.dropdown > .button{
    padding: 12px;
    width: auto;
}

.bar{
    width: 10px;
    height: 1.5px;
    background-color: white;
    margin: 3px;
    display:block;
}

/* ----------------- DROPDOWN FOR HAMBURGER-MENU ----------------- */

@media (max-width: 629px) {
  a > .button{
    display: none;
  }
  .dropdown {
    position: relative;
    float: right;
    padding: 15px;
  }

  .dropdown-content{
    background-color: white;
    display: none;
    position: absolute;
    right: 15px;
    padding-top: 5px;
    border-radius: 4px;
  }

  .dropdown:hover .dropdown-content {
      display: block;
  }

  .dropdown-content > a > .button {
      margin: 0px 5px 5px 5px;
      display: block;
  }
}

@media (min-width: 630px) {
  #hamburger-menu{
    display: none;
  }

  a > .button{
    display: inline-block;
    float: right;
    margin: 15px 5px 0 0;
    text-decoration: none;
  }
}

/* ----------------- SCROLLABLE BOX ----------------- */

.scrollable-box{
  overflow-y: hidden;
  margin-top: 120px;
  margin-left: 50px;
  width: 750px;
  height: 605px;
}

.scrollable-box:hover{
  overflow-y: auto;
}

/* ----------------- OVERVIEW FORM BOX ----------------- */

.overview-form-box{
  display: inline-block;
  width: 160px;
  height: 50px;
  margin-top: 20px;
  margin-right: 20px;
}
.overview-form-box > input[type="text"]{
    width: 100%;
    margin-top: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    height: 25px;
}
.overview-form-box > input[type="checkbox"]{
    margin-top: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    bottom: auto;
}
.overview-form-box > select{
  width: 100%;
  margin-top: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  height: 30px;
}
.overview-big-label{
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.7;
}

.overview-small-label{
  display: block;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  opacity: 0.7;
}



/* ----------------- CUSTOMIZED CHECKBOX ----------------- */
.overview_checkbox {
  position: relative;
  visibility: hidden;
  top: 6px;
  left: -2px;
}
.overview_checkbox > label {
  position: absolute;
  visibility: visible;
  top: 2px;
  left: 3px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  background: #DCDCDC;
  border: 1px solid silver;
  border-radius: 4px;
}
.overview_checkbox > label:after {
  position: absolute;
  content: '';
  width: 8px;
  height: 4px;
  top: 3px;
  left: 2px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.overview_checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}
