/* ----------------- STYLES FOR ALL HTML FILES ----------------- */

.bodybackground{
  background: linear-gradient(#f4f6f9, #d3d8e8);
  background-attachment: fixed;
}
.header{
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  background: linear-gradient(#ffd540, #ff9c14);
  box-shadow: 0 4px 8px 0 grey;
}
.header > label{
  position: absolute;
  height: 70px;
  font-size: 24px;
  font-weight: bold;
  font-family: sans-serif;
  opacity: 0.8;
  margin-top: 20px;
}
.header > img {
  padding: 10px;
}
.first-header{
  font-size: 25px;
  font-family: sans-serif;
  opacity: 0.8;
  margin-bottom: 30px;
}
.footer{
  font-size: 15px;
  font-family: sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  margin-top: 30px;
  width: 100%;
  text-align: center;
  opacity: 0.5;
}
.du{
  text-decoration: underline;
  text-decoration-style: dotted;
}
.container{
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  margin-top: 120px;
  justify-content: space-between;
}

/* ----------------- SCROLLABLE BOX ----------------- */

.scrollable-box{
  overflow-y: hidden;
  display: inline-block;
  width: 750px;
  height: 605px;
}
.scrollable-box:hover{
  overflow-y: auto;
}

/* ----------------- OVERVIEW FORM BOX ----------------- */

.overview-form-box{
  display: inline-block;
  width: 160px;
  height: 50px;
  margin-top: 20px;
  margin-right: 20px;
}
.overview-form-box > input[type="text"]{
    width: 100%;
    margin-top: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    height: 25px;
}
.overview-form-box > input[type="checkbox"]{
    margin-top: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    bottom: auto;
}
.overview-form-box > select{
  width: 100%;
  margin-top: 10px;
  border: 2px solid #ccc;
  border-radius: 4px;
  height: 30px;
}
.overview-big-label{
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
  opacity: 0.7;
}
.overview-small-label{
  display: block;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
  opacity: 0.7;
}

/* ----------------- CUSTOMIZED CHECKBOX ----------------- */

.overview_checkbox {
  position: relative;
  visibility: hidden;
  top: 6px;
  left: -2px;
}
.overview_checkbox > label {
  position: absolute;
  visibility: visible;
  top: 2px;
  left: 3px;
  width: 15px;
  height: 15px;
  cursor: pointer;
  background: #DCDCDC;
  border: 1px solid silver;
  border-radius: 4px;
}
.overview_checkbox > label:after {
  position: absolute;
  content: '';
  width: 8px;
  height: 4px;
  top: 3px;
  left: 2px;
  border: 3px solid #333;
  border-top: none;
  border-right: none;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.overview_checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}

/* ----------------- DEVICE VIEW ON OVERVIEW ----------------- */

.element-box{
  display: inline-block;
  min-width: 220px;
  width:48%;
  height: 100px;
  box-shadow: 0 4px 8px 0 grey;
  border-radius:4px;
  background-color: white;
  margin: 5px;
  cursor: move;
}
.flex-box{
  display: flex;
  flex-direction: row;
}
.image-box{
  display: inline-flex;
  background:linear-gradient(#f4f6f9, #d3d8e8);
  justify-content: center;
  align-content: center;
  height: 100px;
  min-width: 100px;
  border-radius: 4px 0 0 4px;
}
.info-box{
  display: inline;
  position: relative;
}
.element-name-label{
  display: block;
  margin-top: 10px;
  margin-left: 10px;
  font-family: sans-serif;
  font-size: 18px;
  opacity: 0.7;
}
.element-pre-label{
  display: block;
  position: initial;
  margin-top: 5px;
  margin-left: 10px;
  font-family: sans-serif;
  font-size: 13px;
  opacity: 0.6;
}
.element-post-label{
  display:block;
  margin-top: 5px;
  margin-left: 10px;
  font-family: sans-serif;
  font-size: 13px;
  opacity: 0.6;
}

/* ----------------- ELEMENT DESIGN FOR LOGIN & OPTIONS ----------------- */

.box{
  margin-top: 20px;
}
.input{
  float: right;
  border: 2px solid #ccc;
  box-sizing: border-box;
  border-radius: 4px;
  height: 30px;
  min-width: 45%;
}
form > input[type="submit"]{
  background: linear-gradient(#cccccc, #999999);
  border-radius: 4px;
  border: solid 1px #999999;
  color: #494949;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  width: 45%;
}
form:valid #exsub{
  background: linear-gradient(#1f82ad, #145187);
  color: white;
}
.box > label{
  height: 26px;
  line-height: 26px;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  opacity: 0.8;
}
.button{
  background: linear-gradient(#1f82ad, #145187);
  border-radius: 4px;
  border: solid 1px #145187;
  padding: 8px;
  color: white;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  width: 100px;
  margin: auto;
  font-family: sans-serif;
}

/* ----------------- HAMBURGER-MENU & DROPDOWN DESIGN ----------------- */

#hamburger-menu{
  display: none;
}
a {
  text-decoration: none;
}
.dropdown {
  position: relative;
  float: right;
  padding: 15px;
}
.dropdown-content{
  background-color: white;
  display: none;
  position: absolute;
  right: 15px;
  padding-top: 5px;
  border-radius: 4px;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content > a > .button {
    margin: 0px 5px 5px 5px;
    display: block;
}
.dropdown > .button{
    padding: 12px;
    width: auto;
}
.bar{
    width: 10px;
    height: 1.5px;
    background-color: white;
    margin: 3px;
    display:block;
}

/* ----------------- SINGLE ELEMENT DESIGN ----------------- */

#prozess_title_klein{
  position: relative;
  left: -22px;
}
#prozess_view_klein{
  display: none;
}
#vert_trennlinie{
  display: inline-block;
  background-color: silver;
  position: relative;
  width: 1px;
  height: 600px;
  z-index: -1;
  margin-right: 25px;
}
#horz_trennlinie{
  display: none;
  background-color: silver;
  position: relative;
  width: 100%;
  height: 1px;
  z-index: -1;
}
#elemente{
  display: inline-block;
  height: 576px;
}

/* ----------------- MEDIA QUERIES ----------------- */

/* HEADER LABEL LOGIN */
@media (max-width: 325px){
  #login-header-label{
    margin-top: 5px;
    max-width: 250px;
  }
}           /* HEADER LABEL LOGIN */
/* HEADER LABEL OPTIONS */
@media (max-width: 375px) {
  #options-header-label{
    margin-top: 5px;
    max-width: 250px;
  }
}
/* FOR HANDY DISPLAY */
@media (max-width: 399px){
  .box{
    margin-bottom: 10px;
  }
  .input{
    height: 30px;
    width: 100%;
    margin-bottom: 10px;
  }
  form > input[type="submit"]{
    width: 100%;
  }
}
/* FOR BIGGER SCREENS  */
@media (min-width: 400px){
  .box{
    margin-top: 20px;
  }
}
/* FOR HAMBURGER-MENU */
@media (max-width: 630px) {
  a > .button{
    display: none;
  }
  #hamburger-menu{
    display: block;
  }
}
@media (min-width: 630px) {
  a > .button{
    display: inline-block;
    float: right;
    margin: 15px 5px 0 0;
    text-decoration: none;
  }
}

/* FOR OVERVIEW.HTML */
@media (min-width: 1300px) {
  #vert_trennlinie{
    position: absolute;
    display: inline-block;
  }
  #horz_trennlinie{
    display: none;
  }
  #elemente{
    position: absolute;
    display: inline-block;
    margin-left: 25px;
  }
}
@media (min-width: 1024px) and (max-width: 1300px){
  #overview{
    height: auto;
  }
  #elemente{
    position: absolute;
    display: inline-block;
  }
  .element-box{
    max-width: 300px;
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  #vert_trennlinie{
    display: none;
  }
  #horz_trennlinie{
    display: block;
    margin: 25px;
  }
  #overview{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
  #produktionskette{
    display: block;
    overflow: visible;
    height: auto;
  }
  #elemente{
    display: block;
    width: 750px;
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  #vert_trennlinie{
    display: none;
  }
  #horz_trennlinie{
    display: none;
  }
  #overview{
    display: flex;
    justify-content: center;
  }
  #prozess_view_klein{
    display: flex;
    flex-wrap: wrap;
  }
  #prozess_view_groß{
    display: none;
  }
  #overview-setting-box, .overview-form-box{
    display: none;
  }
  #elemente{
    display: none;
  }
  #prozess_title{
    margin-left: 5px;
    margin-bottom: 10px;
  }
  #prozess_title_klein{
    position: relative;
    left: -13px;
  }
  .scrollable-box{
    height: auto;
  }
  .element-box{
    height: 120px;
  }
  .image-box{
    height: 120px;
  }
}
@media (max-width: 700px) {
  #vert_trennlinie{
    display: none;
  }
  #horz_trennlinie{
    display: none;
  }
  #prozess_title_klein{
    position: relative;
    left: -3px;
  }
  #prozess_view_klein{
    display: flex;
    flex-wrap: wrap;
  }
  .element-box{
    width: 100%;
    height: 150px;
  }
  .image-box{
    height: 150px;
  }
}
